.about-text {
    float: left;
    width: 220%;
    margin: 1%;
    text-align:left;
}
.about-text p {
    word-break: keep-all;
}

.about-header {
    text-align: left;
    text-indent: 50px;
    float: left;
    padding: 5px;
}
