.title {
    color: rgb(57, 136, 59);
    text-align:center;  
    font-size: 28px;         
}
.stat {
    color:rgb(0, 0, 0);
    text-align:left;
    text-indent: 50px;
    font-size: 18px;
}
.collapseTitle {
    color:rgb(51, 51, 51);
    text-align:left;
    text-indent: 50px;
    font-size: 12px;
}